*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}

body{
    min-height: 100vh;
}


a{
    text-decoration: none;
}

nav ul li{
    list-style: none;
    /* display: block; */
}

h1,
h2{
    color: #444;
}
.btn{
    background: #f05462;
    color: white;
    padding: 5px 10px;
    text-align: center;
}
.btn:hover{
    color: #f05462;
    background: white;
    padding: 3px 8px;
    border: 2px solid #f05462;
}
.side-menu{
    position: fixed;
    background-color: #f05462;
    width: 20vw;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.side-menu .brand-name{
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.side-menu li{
    font-size: 24px;
    padding: 10px 40px;
    display: flex;
    align-items: center;
}
.side-menu li:hover{
    background:white ;
    color: #f05462;
}
.side-menu li a{
    font-size: 24px;
    color: white;
    width: 20vw;
    height: 40px;
}
.side-menu li a:hover{
    background:white ;
    color: #f05462;
}

.containerAdmin{
    position: absolute;
    right: 0;
    width: 80vw;
    height: 100vh;
    background-color: aliceblue;
}

.containerAdmin .header{
    /* position: fixed; */
    top:0;
    right: 0;
    width: 80vw;
    height: 10vh;
    background: white;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}
.containerAdmin .header .nav{
    width: 90%;
    display: flex;
    align-items: center;
}
.containerAdmin .header .nav .search{
    flex:3;
    display: flex;
    justify-content: center;
}

.containerAdmin .header .nav .search input[type=text]{
    border: none;
    background: #f1f1f1;
    padding: 10px;
    width: 50%;
}
.containerAdmin .header .nav .search button{
    width: 40px;
    height: 40px;
    border: none;
}

.containerAdmin .header .nav .user {
    flex: 1;
    display: flex;
    justify-content: space-between;

}

.containerAdmin .header .nav .user .img-case{
    position: relative;
    width: 50px;
    height: 50px;
}
.containerAdmin .header .nav .user .img-case img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

